{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Metricool API",
    "description" : "<h1>Metricool API</h1>\n<p>The base URL for all endpoints is: https://app.metricool.com/api</p>\n<p>All endpoints require authentication. To identify yourself properly, you must include 3 parameters in all calls</p>\n<p>You can add the parameters directly in the request <b>(the only parameter that can be implemented in the header with name X-Mc-Auth is the userToken)</b></p>\n<ul>\n<li><b>userToken:</b> It is a unique authorization code for each user and can be found in the account settings.</li>\n<li><b>userId:</b> the user identifier of your Metricool account.</li>\n<li><b>blogId:</b> It is the identification number of the brand, this number can be easily found from the browser url</li>\n</ul>",
    "version" : "2.0.0"
  },
  "servers" : [ {
    "url" : "https://app.metricool.com/api"
  } ],
  "tags" : [ {
    "name" : "Adgroups Api Service"
  }, {
    "name" : "Admin Service"
  }, {
    "name" : "Ads Api Service"
  }, {
    "name" : "Ads Previews Api Service"
  }, {
    "name" : "Affiliations"
  }, {
    "name" : "Agency Customization Kit Api Service"
  }, {
    "name" : "Agency Users Api Service"
  }, {
    "name" : "Agency end-clients Api Service"
  }, {
    "name" : "Agency team members Api Service"
  }, {
    "name" : "Ai Api Service"
  }, {
    "name" : "Ai Natural Language Scheduling Api Service"
  }, {
    "name" : "Analytics Api Service"
  }, {
    "name" : "Analytics Catalogs ApiService"
  }, {
    "name" : "Approval Task Api Service"
  }, {
    "name" : "Authorization Api Service"
  }, {
    "name" : "Backoffice - Affiliate Consolidation"
  }, {
    "name" : "Best Times Api Service"
  }, {
    "name" : "Bluesky Analytics Api Service"
  }, {
    "name" : "Boards Api Service"
  }, {
    "name" : "Brand Role Collaborators Api Service"
  }, {
    "name" : "Brand Roles Api Service"
  }, {
    "name" : "Brand review portal"
  }, {
    "name" : "Brands Api Service"
  }, {
    "name" : "Campaign Analytics Service"
  }, {
    "name" : "Campaigns Service"
  }, {
    "name" : "Canva integration service"
  }, {
    "name" : "Catalogs Api Service"
  }, {
    "name" : "Chat Api Service"
  }, {
    "name" : "Competitors Api Service"
  }, {
    "name" : "Competitors Posts Api Service"
  }, {
    "name" : "Connections V2 Api Service"
  }, {
    "name" : "Conversations Api Service"
  }, {
    "name" : "Counters Api Service"
  }, {
    "name" : "Countries Api Service"
  }, {
    "name" : "Coupon Partner Api Service"
  }, {
    "name" : "Coupons API"
  }, {
    "name" : "Customize Report Api Service"
  }, {
    "name" : "Customize Report Service"
  }, {
    "name" : "Data Studio Service"
  }, {
    "name" : "Drive integration service"
  }, {
    "name" : "Facebook Ads Account Api Service"
  }, {
    "name" : "Facebook Analytics Service"
  }, {
    "name" : "Feature Toggle Service"
  }, {
    "name" : "Flow Content Api Service"
  }, {
    "name" : "Flows Api Service"
  }, {
    "name" : "Gbp Analytics Service"
  }, {
    "name" : "Gif Explorer Service"
  }, {
    "name" : "Google ads Analytics Service"
  }, {
    "name" : "Hashtags Tracker Api Service"
  }, {
    "name" : "Health Check API"
  }, {
    "name" : "ICS Calendar Rest Services for Metricool calendar (scheduler)"
  }, {
    "name" : "Inbox Notes Api Service"
  }, {
    "name" : "Inbox Status Change Api Service"
  }, {
    "name" : "Instagram Analytics Service"
  }, {
    "name" : "Keywords Api Service"
  }, {
    "name" : "Legal terms api"
  }, {
    "name" : "Library Posts Assignee Api Service"
  }, {
    "name" : "Library Posts State Api Service"
  }, {
    "name" : "Linkedin Analytics Service"
  }, {
    "name" : "Linkin Bio Service"
  }, {
    "name" : "Looker studio connector Api Service"
  }, {
    "name" : "Media - S3 Direct Upload",
    "description" : "Operations for direct S3 uploads using presigned URLs"
  }, {
    "name" : "Media Api Service"
  }, {
    "name" : "Meta Ads Analytics Service"
  }, {
    "name" : "Notification Preferences Api Service"
  }, {
    "name" : "Notifications Feed Api Service"
  }, {
    "name" : "Offline Report Service"
  }, {
    "name" : "Organization Api Service"
  }, {
    "name" : "Organization Brands Api Service"
  }, {
    "name" : "Organization Collaborators Api Service"
  }, {
    "name" : "Organization Roles Api Service"
  }, {
    "name" : "Organization Team Members Api Service"
  }, {
    "name" : "Payment Methods Api Service"
  }, {
    "name" : "Performance Dashboard Anonymous Link Api Service"
  }, {
    "name" : "Performance Dashboard Categorization Progress"
  }, {
    "name" : "Performance Dashboard Insights"
  }, {
    "name" : "Performance Dashboards Api Service"
  }, {
    "name" : "Ping Service"
  }, {
    "name" : "Pinterest Analytics Api Service"
  }, {
    "name" : "Planner Notes Mentions Api Service"
  }, {
    "name" : "Planner Notifications ApiService"
  }, {
    "name" : "Planner Service"
  }, {
    "name" : "Post Comments Api Service"
  }, {
    "name" : "Posts Api Service"
  }, {
    "name" : "Profile Settings Service"
  }, {
    "name" : "Recommendations Api Service"
  }, {
    "name" : "Report Api Service"
  }, {
    "name" : "Reviews Api Service"
  }, {
    "name" : "Scheduled Post Events Api Service"
  }, {
    "name" : "Scheduled Post Notes Api Service"
  }, {
    "name" : "Settings - User Devices"
  }, {
    "name" : "Smart Links Api Service"
  }, {
    "name" : "Stats Service"
  }, {
    "name" : "Studio Api Service"
  }, {
    "name" : "Subscriptions Api Service"
  }, {
    "name" : "Suggestions Service"
  }, {
    "name" : "Third Party Apps Api Service"
  }, {
    "name" : "This endpoint returns the required configuration to embed Metricool in our partners' sites"
  }, {
    "name" : "Threads Analytics Api Service"
  }, {
    "name" : "TikTok Analytics Service"
  }, {
    "name" : "TikTok WH Service"
  }, {
    "name" : "TikTok Webhook Admin",
    "description" : "Admin endpoints for managing TikTok webhook subscriptions"
  }, {
    "name" : "Timezones Api Service"
  }, {
    "name" : "Twitter Analytics Api Service"
  }, {
    "name" : "User Settings Service"
  }, {
    "name" : "User contract events api service"
  }, {
    "name" : "Users Api Service"
  }, {
    "name" : "Vendasta Rest Service"
  }, {
    "name" : "Webhook Base Api Service"
  }, {
    "name" : "Whitelabel Settings Api Service"
  }, {
    "name" : "X Activity API Webhook"
  } ],
  "paths" : {
    "/actions/bluesky/suggestions" : {
      "get" : {
        "tags" : [ "Planner Service" ],
        "summary" : "Returns a list of suggestions of Bluesky accounts.",
        "operationId" : "getBlueskySuggestions",
        "parameters" : [ {
          "name" : "q",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/TwitterEvent"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/actions/facebook/search-location" : {
      "get" : {
        "tags" : [ "Planner Service" ],
        "operationId" : "getLocations",
        "parameters" : [ {
          "name" : "q",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/FacebookLocation"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/actions/facebook/suggestions" : {
      "get" : {
        "tags" : [ "Planner Service" ],
        "summary" : "Returns a list of suggestions of facebook accounts.",
        "operationId" : "getFacebookSuggestions",
        "parameters" : [ {
          "name" : "q",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/TwitterEvent"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/actions/instagram/auto-candidate-posts-count-for-automation" : {
      "get" : {
        "tags" : [ "Planner Service" ],
        "operationId" : "getCandidatePostCountForAutomation",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : { }
              }
            }
          }
        }
      }
    },
    "/actions/instagram/required-scopes-to-post" : {
      "get" : {
        "tags" : [ "Planner Service" ],
        "operationId" : "requiredInstagramScopesToPublish",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/actions/instagram/suggestions/hashtags" : {
      "get" : {
        "tags" : [ "Planner Service" ],
        "summary" : "Returns a list of suggestions of instagram hashtags.",
        "operationId" : "getInstagramHashtagsSuggestions",
        "parameters" : [ {
          "name" : "q",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "integer",
                    "format" : "int32"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/actions/linkedin/suggestions" : {
      "get" : {
        "tags" : [ "Planner Service" ],
        "summary" : "Returns a list of suggestions of linkedIn companies.",
        "description" : "Deprecated. Use /v2/scheduler/catalogs/linkedin/mentions instead.",
        "operationId" : "getLinkedInSuggestionsV1",
        "parameters" : [ {
          "name" : "q",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/TwitterEvent"
                  }
                }
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/actions/normalize/image/url" : {
      "get" : {
        "tags" : [ "Planner Service" ],
        "summary" : "Validates that the URL is publicly accessible and transforms it into a URL from a metricool repository",
        "operationId" : "getNormalizedImageUrl",
        "parameters" : [ {
          "name" : "url",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "folder",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : { }
              }
            }
          }
        }
      }
    },
    "/actions/publishedpost" : {
      "get" : {
        "tags" : [ "Planner Service" ],
        "summary" : "This method is deprecated",
        "description" : "Deprecated. No direct replacement.",
        "operationId" : "getPostsPublishedCount",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : { }
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/actions/setTimeZone" : {
      "get" : {
        "tags" : [ "Planner Service" ],
        "summary" : "Define the user timezone.",
        "operationId" : "setTimeZone",
        "parameters" : [ {
          "name" : "timezone",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : { }
              }
            }
          }
        }
      }
    },
    "/actions/twitter/suggestions" : {
      "get" : {
        "tags" : [ "Planner Service" ],
        "summary" : "Returns a list of suggestions of twitter accounts.",
        "operationId" : "getTwitterSuggestions",
        "parameters" : [ {
          "name" : "q",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/TwitterEvent"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/add-profile" : {
      "get" : {
        "tags" : [ "Admin Service" ],
        "summary" : "Creates new profile",
        "description" : "Deprecated. Use `POST /v2/settings/brands` instead.",
        "operationId" : "addProfile",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicBlog"
                }
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/admin/blog/profiles" : {
      "get" : {
        "tags" : [ "Admin Service" ],
        "summary" : "Returns a brand picture of your Metricool account.",
        "operationId" : "getBlogProfiles",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : { }
              }
            }
          }
        }
      }
    },
    "/admin/delete-profile" : {
      "get" : {
        "tags" : [ "Admin Service" ],
        "summary" : "Remove current brand",
        "description" : "Deprecated. Use `DELETE /v2/settings/brands/{brand-id}` instead.",
        "operationId" : "deleteProfile",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : { }
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/admin/detectwebsite" : {
      "get" : {
        "tags" : [ "Admin Service" ],
        "operationId" : "detectWebsite",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicBlog"
                }
              }
            }
          }
        }
      }
    },
    "/admin/instagram-profile" : {
      "get" : {
        "tags" : [ "Admin Service" ],
        "summary" : "This method is deprecated",
        "description" : "Deprecated. Use `GET /v2/settings/brands/{brand-id}/instagram/profile` instead.",
        "operationId" : "getInstagramProfile",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "object"
                  }
                }
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/admin/max-profiles" : {
      "get" : {
        "tags" : [ "Admin Service" ],
        "summary" : "Returns the maximum number of brands for the authenticated user.",
        "operationId" : "getMaxProfiles",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : { }
              }
            }
          }
        }
      }
    },
    "/admin/other-free-connections" : {
      "delete" : {
        "tags" : [ "Admin Service" ],
        "operationId" : "deleteOtherFreeConnections",
        "parameters" : [ {
          "name" : "provider",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : { }
              }
            }
          }
        }
      }
    },
    "/admin/profile" : {
      "get" : {
        "tags" : [ "Admin Service" ],
        "summary" : "This method is deprecated.",
        "description" : "Deprecated. Use `GET /v2/settings/brands/{brand-id}` instead.",
        "operationId" : "getBlog",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicBlog"
                }
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/admin/profile/getproperty" : {
      "get" : {
        "tags" : [ "Admin Service" ],
        "summary" : "Get brand property value",
        "operationId" : "getProfileProperty",
        "parameters" : [ {
          "name" : "name",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : { }
              }
            }
          }
        }
      }
    },
    "/admin/profile/setproperty" : {
      "get" : {
        "tags" : [ "Admin Service" ],
        "summary" : "Update brand property value",
        "operationId" : "setProfileProperty",
        "parameters" : [ {
          "name" : "name",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "value",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : { }
              }
            }
          }
        }
      }
    },
    "/admin/profiles" : {
      "get" : {
        "tags" : [ "Admin Service" ],
        "summary" : "Returns the list of brands of your Metricool account (Includes white label links).",
        "operationId" : "getProfiles",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PublicBlog"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/profiles-auth" : {
      "get" : {
        "tags" : [ "Admin Service" ],
        "summary" : "Returns the list of brands of your Metricool account.",
        "operationId" : "getAuthenticatedProfiles",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PublicBlog"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/report-logo" : {
      "get" : {
        "tags" : [ "Admin Service" ],
        "summary" : "Returns the report logo URL",
        "operationId" : "getUserReportLogo",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : { }
              }
            }
          }
        }
      }
    },
    "/admin/restore-profile" : {
      "get" : {
        "tags" : [ "Admin Service" ],
        "summary" : "Restore a deleted brand",
        "operationId" : "restoreProfile",
        "parameters" : [ {
          "name" : "blogidtorestore",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : { }
              }
            }
          }
        }
      }
    },
    "/admin/senddevicetoken" : {
      "get" : {
        "tags" : [ "Admin Service" ],
        "summary" : "This method is not visble",
        "operationId" : "sendDeviceToken",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "uuid",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "model",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "platform",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "version",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "manufacturer",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serial",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "isVirtual",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "token",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appVersion",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "pushVersion",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "label",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserDevice"
                }
              }
            }
          }
        }
      }
    },
    "/admin/sendlogmessage" : {
      "get" : {
        "tags" : [ "Admin Service" ],
        "summary" : "This method is not visble",
        "operationId" : "sendLogMessage",
        "parameters" : [ {
          "name" : "userId",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "deviceInfo",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "logLevel",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appInfo",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "message",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        }
      }
    },
    "/admin/simpleProfiles" : {
      "get" : {
        "tags" : [ "Admin Service" ],
        "summary" : "Returns the list of brands of your Metricool account.",
        "operationId" : "getSimpleProfiles",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PublicBlog"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/timezones" : {
      "get" : {
        "tags" : [ "Admin Service" ],
        "summary" : "This method is deprecated",
        "description" : "Deprecated. Use `GET /v2/settings/catalogs/timezones` instead.",
        "operationId" : "getTimezones",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/admin/update-label-blog" : {
      "get" : {
        "tags" : [ "Admin Service" ],
        "summary" : "Updates the brand label.",
        "operationId" : "updateLabelBlog",
        "parameters" : [ {
          "name" : "newName",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "newImage",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : { }
              }
            }
          }
        }
      }
    },
    "/admin/userproperties" : {
      "get" : {
        "tags" : [ "Admin Service" ],
        "summary" : "This method is not visble",
        "operationId" : "getUserProperties",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/userstatus" : {
      "get" : {
        "tags" : [ "Admin Service" ],
        "operationId" : "getUserStatus",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserStatus"
                }
              }
            }
          }
        }
      }
    },
    "/admin/userstatus-auth" : {
      "get" : {
        "tags" : [ "Admin Service" ],
        "summary" : "This method is not visble",
        "operationId" : "getUserStatusAuth",
        "parameters" : [ {
          "name" : "mode",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserStatus"
                }
              }
            }
          }
        }
      }
    },
    "/admin/userstatus-auth-session" : {
      "get" : {
        "tags" : [ "Admin Service" ],
        "summary" : "This method is not visble",
        "operationId" : "getUserStatusAuthSession",
        "parameters" : [ {
          "name" : "mode",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "type",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : { }
              }
            }
          }
        }
      }
    },
    "/braintreewebhook" : {
      "get" : {
        "operationId" : "verify",
        "parameters" : [ {
          "name" : "bt_challenge",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : { }
              }
            }
          }
        }
      },
      "post" : {
        "operationId" : "hook",
        "parameters" : [ {
          "name" : "bt_signature",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "bt_payload",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : { }
              }
            }
          }
        }
      }
    },
    "/connections/{provider}" : {
      "delete" : {
        "summary" : "This method is deprecated",
        "description" : "Deprecated. Use `DELETE /v2/settings/brands/connections/{provider}` instead.",
        "operationId" : "disconnect",
        "parameters" : [ {
          "name" : "provider",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        },
        "deprecated" : true
      }
    },
    "/datastudio/datasets" : {
      "get" : {
        "tags" : [ "Looker studio connector Api Service" ],
        "summary" : "Return requested looker studio field values",
        "operationId" : "getTable",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Looker studio connector Api Service" ],
        "summary" : "Return requested looker studio field values",
        "operationId" : "getTableWithPOST",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/datastudio/dynamic-fields" : {
      "get" : {
        "tags" : [ "Looker studio connector Api Service" ],
        "summary" : "Return a list of available dynamic fields for looker studio",
        "operationId" : "getFields",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "required" : false,
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "pageSize",
          "in" : "query",
          "required" : false,
          "schema" : {
            "maximum" : 1000,
            "minimum" : 10,
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JsonOkResponsePageDtoDataStudioFieldDto"
                }
              }
            }
          }
        }
      }
    },
    "/datastudio/fbads/ads" : {
      "get" : {
        "tags" : [ "Data Studio Service" ],
        "operationId" : "getFacebookAds",
        "parameters" : [ {
          "name" : "start",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "end",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/DataStudioAd"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/datastudio/tiktokads/ads" : {
      "get" : {
        "tags" : [ "Data Studio Service" ],
        "operationId" : "getTikTokAds",
        "parameters" : [ {
          "name" : "start",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "end",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/DataStudioAd"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/explore/followers/{blogId}" : {
      "get" : {
        "operationId" : "getBlogFollowers",
        "parameters" : [ {
          "name" : "blogId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "integer",
                    "format" : "int32"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/explore/posts/{blogId}" : {
      "get" : {
        "summary" : "This method is deprecated",
        "description" : "Deprecated. No direct replacement.",
        "operationId" : "getBlogPosts",
        "parameters" : [ {
          "name" : "blogId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "date",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PublicPost"
                  }
                }
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/explore/trend" : {
      "get" : {
        "summary" : "This method is deprecated",
        "description" : "Deprecated. No direct replacement.",
        "operationId" : "getTrending",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PublicBlog"
                  }
                }
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/gifs/search" : {
      "get" : {
        "tags" : [ "Gif Explorer Service" ],
        "summary" : "Search gifs. When query is blank returns trendings",
        "operationId" : "search",
        "parameters" : [ {
          "name" : "q",
          "in" : "query",
          "description" : "Term to search",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Offset to implement navigation",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Max number of images to return",
          "required" : false,
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "lang",
          "in" : "query",
          "description" : "language for regional content; use a 2-letter ISO 639-1 language code. By default, your metricool account language will",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "rating",
          "in" : "query",
          "description" : "rating GIF and Sticker library is thoroughly moderated and organized by rating. By default g is used \r\n",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SearchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/hashtags/consolidated/hashtag" : {
      "get" : {
        "operationId" : "getHashtag",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Hashtag"
                }
              }
            }
          }
        }
      }
    },
    "/hashtags/consolidated/ig-timeline" : {
      "get" : {
        "operationId" : "getConsolidatedIGTimeline",
        "parameters" : [ {
          "name" : "start",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "end",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "array",
                    "items" : {
                      "type" : "array",
                      "items" : {
                        "type" : "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hashtags/consolidated/igposts" : {
      "get" : {
        "operationId" : "getConsolidatedIgPosts",
        "parameters" : [ {
          "name" : "start",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "end",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "q",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "order[0][dir]",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "order[0][column]",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "allParams",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/InstagramPost"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hashtags/consolidated/locationpoints" : {
      "get" : {
        "operationId" : "getLocationPoints",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/LocationCount"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hashtags/consolidated/participants" : {
      "get" : {
        "operationId" : "getConsolidatedParticipants",
        "parameters" : [ {
          "name" : "start",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "end",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "order[0][dir]",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "order[0][column]",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "allParams",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/HTContributor"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hashtags/consolidated/participantscount" : {
      "get" : {
        "operationId" : "getParticipantsCount",
        "parameters" : [ {
          "name" : "start",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "end",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : { }
              }
            }
          }
        }
      }
    },
    "/hashtags/consolidated/pictures" : {
      "get" : {
        "operationId" : "getConsolidatedPictures",
        "parameters" : [ {
          "name" : "start",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "end",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "column",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Tweet"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hashtags/consolidated/search-count" : {
      "get" : {
        "operationId" : "searchTweetsCount",
        "parameters" : [ {
          "name" : "start",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "end",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "isTw",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "q",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : { }
              }
            }
          }
        }
      }
    },
    "/hashtags/consolidated/timeline" : {
      "get" : {
        "operationId" : "getConsolidatedTimeline",
        "parameters" : [ {
          "name" : "start",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "end",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "minutes",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "array",
                    "items" : {
                      "type" : "array",
                      "items" : {
                        "type" : "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hashtags/consolidated/trendings" : {
      "get" : {
        "operationId" : "getTrendingTopics",
        "parameters" : [ {
          "name" : "start",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "end",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "order[0][dir]",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "order[0][column]",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "allParams",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/TrendingTopic"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hashtags/consolidated/twDistribution/{type}" : {
      "get" : {
        "operationId" : "getTweetsDistribution",
        "parameters" : [ {
          "name" : "type",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "provider",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "start",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "end",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "country",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "integer",
                    "format" : "int64"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hashtags/consolidated/tweets" : {
      "get" : {
        "operationId" : "getConsolidatedTweets",
        "parameters" : [ {
          "name" : "start",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "end",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "q",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "order[0][dir]",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "order[0][column]",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "allParams",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Tweet"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hashtags/consolidated/tweetscounts" : {
      "get" : {
        "operationId" : "getTweetsCounts",
        "parameters" : [ {
          "name" : "start",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "end",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "integer",
                    "format" : "int64"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hashtags/coordinates" : {
      "get" : {
        "operationId" : "getCoordinates",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/LocationCount"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hashtags/delete" : {
      "get" : {
        "operationId" : "deleteHashtag",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : { }
              }
            }
          }
        }
      }
    },
    "/hashtags/feed/igpictures" : {
      "get" : {
        "operationId" : "getIGPicturesFeed",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hashtags/feed/pictures" : {
      "get" : {
        "operationId" : "getPicturesFeed",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hashtags/feed/tweets" : {
      "get" : {
        "operationId" : "getTweetsFeed",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/HashtagTrackerTweetFeed"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hashtags/get" : {
      "get" : {
        "operationId" : "getHashtags",
        "parameters" : [ {
          "name" : "order[0][dir]",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "order[0][column]",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "allParams",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Hashtag"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hashtags/minutes" : {
      "get" : {
        "operationId" : "getMinutesToBegin",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : { }
              }
            }
          }
        }
      }
    },
    "/hashtags/participants/{type}" : {
      "get" : {
        "operationId" : "getParticipants",
        "parameters" : [ {
          "name" : "type",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "size",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/HashtagTrackerParticipant"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hashtags/popularity" : {
      "get" : {
        "operationId" : "getPopularHashtags",
        "parameters" : [ {
          "name" : "q",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "integer",
                    "format" : "int64"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hashtags/savepicture" : {
      "post" : {
        "operationId" : "savePicture",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : { }
              }
            }
          }
        }
      }
    },
    "/hashtags/savepictureHashtag" : {
      "post" : {
        "operationId" : "savePictureHashtag",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : { }
              }
            }
          }
        }
      }
    },
    "/hashtags/timeline" : {
      "get" : {
        "operationId" : "getTimeline",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "integer",
                    "format" : "int64"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hashtags/timelineinminutes" : {
      "get" : {
        "operationId" : "getTimelineInMinutes",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "integer",
                    "format" : "int64"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hashtags/trendings" : {
      "get" : {
        "operationId" : "getRealtimeTrendingTopics",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hashtags/updatelogo" : {
      "get" : {
        "operationId" : "updatelogo",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hash",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "newUrl",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : { }
              }
            }
          }
        }
      }
    },
    "/hashtags/values" : {
      "get" : {
        "operationId" : "getValues",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "integer",
                    "format" : "int64"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/linkinbio/instagram/addcatalogButton" : {
      "get" : {
        "tags" : [ "Linkin Bio Service" ],
        "summary" : "Add button to Instagram BIO link",
        "operationId" : "addCatalogButton",
        "parameters" : [ {
          "name" : "textbutton",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "linkbutton",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "positionbutton",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "colorbutton",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/InstagramLinkTree"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/linkinbio/instagram/addcatalogitems" : {
      "post" : {
        "tags" : [ "Linkin Bio Service" ],
        "summary" : "Add one or more pictures to Instagram BIO link",
        "operationId" : "addCatalogItems",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/InstagramBioCatalog"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/linkinbio/instagram/deletecatalogimage" : {
      "delete" : {
        "tags" : [ "Linkin Bio Service" ],
        "summary" : "Delete item from Instagram BIO link",
        "operationId" : "deleteCatalogImage",
        "parameters" : [ {
          "name" : "itemid",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/InstagramBioCatalog"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/linkinbio/instagram/deletecatalogitem" : {
      "delete" : {
        "tags" : [ "Linkin Bio Service" ],
        "summary" : "Delete item from Instagram BIO link",
        "operationId" : "deleteCatalogItem",
        "parameters" : [ {
          "name" : "itemid",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/InstagramLinkTree"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/linkinbio/instagram/editcatalogbutton" : {
      "get" : {
        "tags" : [ "Linkin Bio Service" ],
        "summary" : "Update button link and text in Instagram BIO link",
        "operationId" : "editCatalogButton",
        "parameters" : [ {
          "name" : "itemid",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "link",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "text",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "color",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/InstagramLinkTree"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/linkinbio/instagram/editcatalogitem" : {
      "get" : {
        "tags" : [ "Linkin Bio Service" ],
        "summary" : "Delete item from Instagram BIO link",
        "operationId" : "editCatalogItem",
        "parameters" : [ {
          "name" : "itemid",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "link",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/InstagramBioCatalog"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/linkinbio/instagram/getbioButtons" : {
      "get" : {
        "tags" : [ "Linkin Bio Service" ],
        "summary" : "Returns Instagram BIO link contents",
        "operationId" : "getInstagramButtonsBioCatalog",
        "parameters" : [ {
          "name" : "blogid",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/InstagramLinkTree"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/linkinbio/instagram/getbiocatalog" : {
      "get" : {
        "tags" : [ "Linkin Bio Service" ],
        "summary" : "Returns Instagram BIO link contents",
        "operationId" : "getInstagramBioCatalog",
        "parameters" : [ {
          "name" : "blogid",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "editable",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/InstagramBioCatalog"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/linkinbio/instagram/recentmedia" : {
      "get" : {
        "tags" : [ "Linkin Bio Service" ],
        "summary" : "This method is deprecated",
        "description" : "Deprecated. Use `GET /v2/settings/brands/connections/instagram/media-feed` instead.",
        "operationId" : "getRecentMedia",
        "parameters" : [ {
          "name" : "from",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/InstagramMedia"
                  }
                }
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/linkinbio/instagram/updateButtonPosition" : {
      "get" : {
        "tags" : [ "Linkin Bio Service" ],
        "summary" : "Delete item from Instagram BIO link",
        "operationId" : "updateButtonPosition",
        "parameters" : [ {
          "name" : "itemid",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "itemposition",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/InstagramLinkTree"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/lists" : {
      "get" : {
        "operationId" : "getLists",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PlannerList"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/lists/create" : {
      "get" : {
        "operationId" : "createList",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : { }
              }
            }
          }
        }
      }
    },
    "/lists/delete" : {
      "get" : {
        "operationId" : "deleteList",
        "parameters" : [ {
          "name" : "listid",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PlannerList"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/lists/enable" : {
      "get" : {
        "operationId" : "enableList",
        "parameters" : [ {
          "name" : "listid",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "enable",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PlannerList"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/lists/getlist" : {
      "get" : {
        "operationId" : "getList",
        "parameters" : [ {
          "name" : "listid",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PlannerList"
                }
              }
            }
          }
        }
      }
    },
    "/lists/posts" : {
      "get" : {
        "operationId" : "getListPosts",
        "parameters" : [ {
          "name" : "listid",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PlannerListPost"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/lists/posts/add" : {
      "post" : {
        "summary" : "This method is deprecated",
        "description" : "Deprecated. Use `POST /lists/posts/new` instead.",
        "operationId" : "addListPostsFromCSV",
        "parameters" : [ {
          "name" : "data",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PlannerListPost"
                  }
                }
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/lists/posts/create" : {
      "get" : {
        "operationId" : "createListPost",
        "parameters" : [ {
          "name" : "listid",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "position",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PlannerListPost"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/lists/posts/delete" : {
      "get" : {
        "operationId" : "deleteListPost",
        "parameters" : [ {
          "name" : "listid",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "postid",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PlannerListPost"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/lists/posts/deleteall" : {
      "get" : {
        "operationId" : "deleteAllListPost",
        "parameters" : [ {
          "name" : "listid",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PlannerListPost"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/lists/posts/feed" : {
      "get" : {
        "operationId" : "getFeedListPosts",
        "parameters" : [ {
          "name" : "feedUrl",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/lists/posts/feed/add" : {
      "get" : {
        "operationId" : "addFeedListPosts",
        "parameters" : [ {
          "name" : "feedUrl",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "prefix",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sufix",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "allPost",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "enabled",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "addFirst",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "postCharacters",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "listid",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PlannerListPost"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/lists/posts/feed/remove" : {
      "get" : {
        "operationId" : "deleteFeedListPosts",
        "parameters" : [ {
          "name" : "listid",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PlannerList"
                }
              }
            }
          }
        }
      }
    },
    "/lists/posts/new" : {
      "post" : {
        "operationId" : "addListPosts",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PlannerListPost"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/lists/posts/update" : {
      "get" : {
        "summary" : "This method is deprecated",
        "description" : "Deprecated. Use `POST /lists/posts/updatepostlist` instead.",
        "operationId" : "updateListPost",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PlannerListPost"
                  }
                }
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/lists/posts/updateenabled" : {
      "get" : {
        "operationId" : "updateListPostEnabled",
        "parameters" : [ {
          "name" : "postid",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "listid",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "enabled",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PlannerListPost"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/lists/posts/updatepicture" : {
      "post" : {
        "operationId" : "updateListPostPicture",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PlannerListPost"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/lists/posts/updateposition" : {
      "get" : {
        "operationId" : "updateListPostPosition",
        "parameters" : [ {
          "name" : "postid",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "listid",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "position",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PlannerListPost"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/lists/posts/updatepostlist" : {
      "post" : {
        "operationId" : "updatePostList",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PlannerListPost"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/lists/posts/updatetext" : {
      "post" : {
        "operationId" : "updateListPostText",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PlannerListPost"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/lists/timing" : {
      "get" : {
        "operationId" : "getListTiming",
        "parameters" : [ {
          "name" : "listid",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PlannerListTiming"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/lists/timing/create" : {
      "get" : {
        "operationId" : "createListTiming",
        "parameters" : [ {
          "name" : "listid",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PlannerListTiming"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/lists/timing/delete" : {
      "get" : {
        "operationId" : "deleteListTiming",
        "parameters" : [ {
          "name" : "listid",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "timingid",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PlannerListTiming"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/lists/timing/update" : {
      "get" : {
        "operationId" : "updateListTiming",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "listid",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "time",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "monday",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tuesday",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "wednesday",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "thursday",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "friday",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "saturday",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sunday",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PlannerListTiming"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/lists/update" : {
      "get" : {
        "operationId" : "updateList",
        "parameters" : [ {
          "name" : "listid",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "twitter",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "facebook",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "linkedin",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "instagram",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "pinterest",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "gmb",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tiktok",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "youtube",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "threads",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "bluesky",
[...]
